* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffb900;
  --font-heading: Sen, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* ----------- Common --------- */
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  background: #171100;
  border-radius: 999px;
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
.heading {
  color: #171100;
  font-family: var(--font-heading);
  line-height: 1.17;
  letter-spacing: -0.02rem;
}
.heading.lv1 {
  font-size: 5.8rem;
  font-weight: 700;
}
.heading.lv2 {
  font-size: 3.8rem;
  line-height: 1.26;
}
.break-all {
  word-break: break-all;
}
/* Nếu chữ của title với desc dài quá thì sẽ thành ... tùy theo hàng */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp.line-2 {
  --line-clamp: 2;
}
/* ----------- Header --------- */
.header {
  background-color: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -32px;
  z-index: 1;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  position: relative;
  padding: 8px 21px;
  color: #5f5b53;
  font-size: 1.6rem;
}
.nav a:hover,
.nav li.active a {
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}

.nav li.active a::after {
  content: "";
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  width: 12px;
  height: 2px;
  background: #171100;
  border-radius: 1px;
}

.header .sign-up-btn {
  min-width: 114px;
}
.header .action {
  margin-left: 49px;
}
/* --------------- Hero ------------------ */
.hero {
  padding-top: 56px;
  padding-bottom: 63px;
  background: #fffcf4;
}
.hero .body {
  display: flex;
}
/*------ Hero left --------*/
.hero .media-block {
  position: relative;
  width: 48%;
}
.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
  vertical-align: bottom;
}
.hero-summary {
  position: absolute;
  right: 0;
  bottom: 48px;
  width: 270px;
  padding: 24px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.hero-summary .item {
  display: flex;
  align-items: center;
}
.hero-summary .item + .item {
  margin-top: 22px;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff9e8;
}
.hero-summary .item:nth-of-type(2) .icon {
  background: #fcefff;
}
.hero-summary .item:nth-of-type(3) .icon {
  background: #ebeaff;
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .label {
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}
.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
/*------ Hero right --------*/
.hero .content-block {
  width: 52%;
  padding: 64px 0 0 130px;
}

.hero .desc {
  margin-top: 28px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.hero .cgt-group {
  display: flex;
  align-items: center;
  margin: 38px 0 48px;
}
.hero-cta {
  min-width: 180px;
  line-height: 64px;
  background: var(--primary-color);
}

.hero .watch-video {
  display: flex;
  align-items: center;
  margin-left: 28px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.hero .watch-video .icon {
  display: flex;
  align-self: center;
  justify-self: center;
  width: auto;
  height: auto;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.hero .stats {
  margin: 8px 0 0 -28px;
}
.hero .stats strong {
  padding: 0 7px 0 28px;
  font-family: var(--font-heading);
  color: #171100;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
}
/* --------------- Popular ------------------ */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}
.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-top .desc {
  font-size: 1.8rem;
  line-height: 1.67;
  width: 458px;
  margin-top: 16px;
  color: #5f5b53;
}
.popular .controls {
  display: flex;
  gap: 18px;
}
.popular-top .control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-color);
  width: 40px;
  height: 40px;
  color: var(--primary-color);
  border-radius: 50%;
  background: transparent;
}
.popular-top .control-btn:hover {
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
}
.popular .course-list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}
.popular .course-item {
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}
.popular .course-item:hover {
  border-color: transparent;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.popular .course-item .thumb {
  width: calc(100% + 2px);
  margin: -1px;
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
  height: 278px;
}
.popular .course-item .info {
  padding: 16px 22px 22px;
}
.popular .course-item .rating,
.popular .course-item .foot,
.popular .course-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular .course-item .title a {
  padding-right: 6px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.popular .rating .value {
  color: #fea31b;
  font-size: 1.6rem;
  line-height: 1.75;
}
.popular .course-item .desc {
  margin-top: 26px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}
.popular .course-item .foot {
  margin-top: 12px;
}
.popular .course-item .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
.popular .course-item .book-btn {
  border: none;
}
.popular .course-item .book-btn:hover {
  background: var(--primary-color);
  color: #fff;
}

/* ----------- Feedback --------- */
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background: #2e2100;
}
.feedback-list {
  display: flex;
  overflow: hidden;
}
.feedback-items {
  display: flex;
  width: 100%;
  flex-shrink: 0;
}
.feedback-items .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}
.feedback-items .info .title {
  font-family: var(--font-heading);
  margin-top: 18px;
  color: #f7f7f7;
  font-size: 2.4rem;
  line-height: 1.42; /* 141.667% */
}
.feedback-items .info .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
}
.feedback-items .dots {
  display: flex;
  margin-top: 28px;
}
.feedback-items .dot {
  margin-right: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
}
.feedback-items .dot.active {
  background: #ffb900;
  cursor: default;
}
.feedback-items .content {
  width: 66%;
  margin-left: auto;
}
.feedback-items blockquote {
  margin-left: 30px;
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54;
}
/* ----------- Features --------- */
.features {
  margin-top: 135px;
  padding: 65px 0;
}
.features .body {
  display: flex;
  justify-content: space-between;
}
.features .images {
  display: flex;
  gap: 0 30px;
}
.features .images img {
  width: 270px;
  height: 404px;
  border-radius: 16px;
  object-fit: cover;
}
.features .images .lower {
  margin-top: 34px;
}
.features .content {
  width: 41%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.features .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75;
}
.features .content .cta-btn {
  margin-top: 32px;
  min-width: 137px;
  color: #fff;
  background: var(--primary-color);
  cursor: pointer;
}
.features-2nd {
  margin-top: 70px;
}
.features-2nd .body {
  flex-direction: row-reverse;
}
.features-2nd .content {
  width: 49%;
}
.features-2nd .images img {
  width: 470px;
  height: 440px;
}
.features-2nd .content .title-2 {
  letter-spacing: -0.76px;
}
